<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SENAC</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/global.css" />

    <!-- JS -->
    <script src="/static/main.js"></script>
  </head>
  <body>
    <h1>Usuários</h1>
    <button type="button" onclick="openCreateModal()">Cadastrar</button>

    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Cpf</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% for (user of users) { %>
        <tr>
          <td><%- user.id %></td>
          <td><%- user.name %></td>
          <td><%- user.email %></td>
          <td><%- user.cpf %></td>
          <td>
            <div>
              <button type="button">Editar</button>
              <button type="button">Remover</button>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <script>
      const test = {
        name: "Simone Gabrielly Aline Gonçalves",
        email: "simone.gabrielly.goncalves@bluespropaganda.com",
        cpf: "957.213.573-20",
        password: "sdsd",
        profile_id: "1",
      };
      const openCreateModal = async () => {
        const response = await sendDataRequest("/user", "POST", test);
      };
    </script>
  </body>
</html>
